@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f3f3f3;
}

.my-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(195px, auto));
  gap: 25px;
}
